  <div class="row">
  <div class="col-md-6">
  <div class="about">
    <h1><span style="color:#FF69B4;">ツイートアプリ</span></h1>
    <br>
    <p><span style="color:#808080;">
       ツイートアプリは、受講生によって練習用いに作成されたつぶやきアプリです。<br>
       以下の条件で作成されています。
    </span></p>
    <br>
    <p><span style="color:#808080;">
       - HTML,CSS,Bootstrapを使用して、現実のTwitterに似せたデザインにすること<br>
       - tweetの投稿・投稿確認・編集・一覧表示・削除機能があること<br>
       - 1文字以上255文字以下しかつぶやけないようにすること<br>
       - 256文字以上、または内容が空で登録した場合エラーメッセージがでるようにすること<br>
       - tweetsテーブルは、本文（content）のみカラムを有すること（id,timestampはデフォルトで生成されるので除く）<br>
       - Githubにソースコードを送信し、そのリポジトリのURLを提出すること<br>
       - Herokuにアップロードしてある状態であること
    </span></p>
  </div>
  </div>
  <div class="col-md-6">
  <div class="img">
      <img src="<%= asset_path "TW.jpg" %>">
  </div>
  </div>
  </div>
  
  <div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
　</div>